# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
local.settings.json

# Azure Functions
bin/
obj/
.python_packages/

# IDE
.vscode/
.idea/

# Logs
*.log

# Test PDFs
*.pdf

# Markdown files to ignore
snapshot-nfpa70refactor.md
upgrade.md 
.DS_Store
.DS_Store
.DS_Store
.DS_Store
